*{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

.main{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 60px;
    margin-left: 200px;
}

.twitter{
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 23%;
    height: 400px;
    padding: 10px;
    margin-right: 30px;
}

.twitter:hover{
    background-color: #E60965;
    color: white;
}

.instagram{
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 23%;
    height: 400px;
    padding: 10px;
    margin-right: 30px;
}

.instagram:hover{
    background-color:#E60965;
    color: white;
}

.youtube{
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 23%;
    height: 400px;
    padding: 10px;
}

.youtube:hover{
    background-color: #E60965;
    color: white;
}

button{
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 60%;
    padding: 10px;
}

button:hover{
    background-color: white;
    color: black;
}

img{
    width: 30%;
    padding: 30px;
}
